
@media (max-width: 550px) and (min-width: 350px) {
   .login_container {
    width: 90%;
    padding: 20px;
   }
   .input_field {
      width: 100%;
   }
   .button {
      font-size: small;
   }
   .heading {
      font-size: 30px;
   }
}

@media(max-width: 880px) and (min-width: 750px) {
   .fontReduce {
      font-size: 15px;
      font-weight: 500;
   }
}

@media (max-width: 750px) and (min-width: 350px) {
  .sidebar_container {
    display: none;
  }

  .dashboard_body {
    flex-direction: column; 
  }

  .main_container {
    width: 100%;
    padding: 10px;
    font-size: 14px;
  }

  .dashboard_header {
    text-align: center;
    padding: 12px;
  }
}
